.produto{
    float: right;
    color: #333;
    margin-top: 2em;
}
.produto h1{
    font-size: 1.8em;
}
.produto p{
    font-size: 1.2em;
    margin-bottom: 1em;
}
.detalhes{
    padding: 2em 0;
}
.detalhes h2{
    border-bottom:2px solid #333;
    font-size: 1.5em;
    line-height: 2;
}
.detalhes p{
    margin: 1em 0;
    font-size: 1em;
}
table{
    border-spacing: 0.2em;
    border-collapse: separate;
}
thead{
    background-color: #999;
}
thead th{
    font-weight: bold;
    padding: 0.3em 1em;
    text-align: center;
}
td{
    padding: 0.3em;
}
tr:nth-child(2n){
    background-color: #ccc;
}
.glu{
    width: 500px;
}
button{
    border: none;
}
.tomabrasilkkj{
    position: relative;

}
.Apinteiro{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 13vh;
    left: 25vw;
    justify-content: center;
    align-items: center;
    box-shadow: 10px black;
}
.main{
    position: relative;
    z-index: 9;
}
.logo{
    position:relative;
    z-index: 9;
}
.Apinteiro img{
    width: 50vw;
    height: 80vh;
}
#trocacena{
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 9;
}